<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WELCOME CHATBOT</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles_chat.css') }}" />

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <script src="{{ url_for('static', filename='chat.js') }}" defer></script>
</head>

<body>
<div class="chat-container">
    <div class="chat-header">
        <h2>WELCOME CHATBOT</h2>
    </div>

    <div class="chat-messages" id="chatBox"></div>

    <div class="chat-input">
        <input
                type="text"
                id="inputText"
                placeholder="여기에 메시지를 입력해주세요."
                autocomplete="off"
        />
        <button disabled id="sendButton">
            <img src="{{ url_for('static', filename='img/arrow-up.png') }}" alt="Send" />
        </button>
        <button id="stopButton">
            <img src="{{ url_for('static', filename='img/rectangle.png') }}" alt="Stop" />
        </button>
    </div>
</div>
</body>
</html>